
.table tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td,
th {
    color: var(--primary-color);
}

@media (max-width: 425px) {
    .table tr td img {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
    }
}

